---
import { join } from "node:path";
import { AstroFont } from "astro-font";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	siteName: string;
	siteDescription: string;
}

const { title, siteName, siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" /><link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={siteDescription} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={siteDescription} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<AstroFont
			config={[
				{
					src: [],
					name: "Sora",
					preload: false,
					display: "swap",
					fallback: "sans-serif",
					selector: ".font-sora",
					googleFontsURL:
						"https://fonts.googleapis.com/css2?family=Sora:wght@100..800",
				},
				{
					name: "LXGW WenKai",
					src: [
						{
							style: "normal",
							weight: "400",
							path: join(
								process.cwd(),
								"public",
								"fonts",
								"LXGWWenKaiScreen.ttf"
							),
						},
					],
					preload: true,
					display: "swap",
					selector: ".font-lxgw-wenkai",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body class="h-full">
		<div
			class="bg-zinc-100 bg-horizonAnimated bg-cover bg-scroll bg-center bg-no-repeat h-full"
		>
			<div
				class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5 h-full"
			>
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
